* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.main-carousel {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    .carousel-cell {
        width: 100%;
        margin-right: 10px;
        .container {
            width: 100%;
            
            margin: 0 auto;
            height: 50vh;
            min-height: 400px;
            background-size: cover;
            p {
                font-size: 20px;
                font-weight: 600;
                color: rgb(90, 90, 90);
                position: relative;
                top: 30px;
                left: 30px;  
            }
        }
    }
}

.flickity-page-dots {
    display: none;
}

section > p {
    text-align: center;
}