* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.carousel {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    .carousel-cell {
        width: 100%;
        margin-right: 10px;
        .container {
            height: 50vh;
            min-height: 400px;
            background-size: cover;
            p {
                font-size: 20px;
                font-weight: 600;
                color: rgba(0, 0, 0, 0.7);
                position: relative;
                top: 30px;
                left: 30px;  
            }
        }
    }
}

.progress {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    .progress-bar {
        height: 20px;
        width: 0;
        background: #333; 
    }
}

.reload {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
    .reload-button {
        width: 70px;
        height: 20px;
        position: absolute;
        top: -40px;
        background-color: rgba(255, 255, 255, 0.3);
        border: none;
        a {
            text-decoration: none;
            color: rgba(0, 0, 0, 0.7);
        }
    }
}

.flickity-page-dots {
    display: none;
}

section > p {
    text-align: center;
}